<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baoyong.test.mapper2.BookMapper">
    <resultMap id="book" type="com.baoyong.test.pojo.Book"/>
    <select id="getBooks" resultMap="book">
        select * from book;
    </select>
</mapper>
